#nav-list {
    text-align: center;
    background-color: aquamarine;
}

.container-fluid .navbar-header {
    border-radius: 2px;
    /* background-color: pink; */
}

.navbar-brand h1{
    /* background-color: limegreen; */
    color:black;
}

.navbar-brand{
    padding-top: 0px;
    /* height: 50px; */
    margin-top: -10px;
    /* background-color: salmon; */
}

#paragraph {
    background-color: lightgrey;
    margin-left: 20px ;
    margin-right: 20px;
}

.navbar-collapse > ul {
    margin-top: 0px;
    margin-bottom: 0px;
}

.container-fluid > a {
    background-color: limegreen;
}